<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title::朝敏國際貿易:專業．用心．專營蔬菓進出口</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300'>
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <link rel="stylesheet" href="~/Content/css/vendor/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/page.css">
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        <header id="header">
            <div class="wrap">
                <h1 class="logo" onclick="location.href='@Url.Content("~/index")'" title="回首頁" tabindex="-1">
                    @Resources.Res.System_FrontName
                </h1>
                <button class="mobile-trigger icon-menu" title="主選單"></button>
                <div id="menu" class="navbar">
                    <button class="mobile-close" title="關閉主選單">&#10005;</button>
                    <nav>
                        <a href="~/AboutUs" class="@(ViewBag.BodyClass == "AboutUs" ? "current" : "")">關於我們</a>
                        <a href="~/Products/Import_list" class="@(ViewBag.BodyClass == "Import" ? "current" : "")">進口</a>
                        <a href="~/Products/Export_list" class="@(ViewBag.BodyClass == "Export" ? "current" : "")">出口</a>
                        <a href="~/News" class="@(ViewBag.BodyClass == "News" ? "current" : "")">最新消息</a>
                        <a href="~/ContactUs" class="@(ViewBag.BodyClass == "ContactUs" ? "current" : "")">聯絡我們</a>
                    </nav>
                </div>
                <nav class="top-nav">
                    <a href='@Url.Action("SetLanguage")?L=en-US&A=index'>EN</a>
                    <a href='@Url.Action("SetLanguage")?L=zh-TW&A=index'>中文</a>
                    @* <a href='@Url.Action("SetLanguage")?L=ja-JP&A=index'>日文</a>
                    <a href='#'>日文</a> *@
                </nav>
            </div><!-- wrap //-->
        </header>

        <main id="main">
            <ul class="breadcrumb">
                <li><a href="~/index" class="icon-home"></a></li>
                @RenderSection("breadCrumb", required: false)
                <li>@ViewBag.breadCrumb</li> @* 當前頁名稱 *@
            </ul>

            @RenderBody()

        </main>

    </div><!-- wrapper //-->

    <footer id="footer">
        <div class="wrap">
            <section class="foot-contact">
                <header class="logo-s">朝敏國際貿易<small>Vegetables frults firm international trading</small></header>
                <address>
                    <h6>桃園縣中壢市中正路1451號(後方)</h6>
                    <p><em>TEL:</em>03-280-5358</p>
                    <p><em>FAX:</em>03-280-6918</p>
                    <p><em>E-MAIL:</em><a href="mailto:chaomintrading@gmail.com">chaomintrading@gmail.com</a><p>
                </address>
            </section>

            <section class="foot-nav">
                <header class="font-sp">NAVIGATION</header>
                <nav>
                    <a href="~/AboutUs">關於我們</a>
                    <a href="~/Products/Import_list">進口</a>
                    <a href="~/Products/Export_list">出口</a>
                    <a href="~/News">最新消息</a>
                    <a href="~/ContactUs">聯絡我們</a>
                </nav>
            </section>

            <div class="copyright">
                @* <a href="//www.chaomin.com.tw/OutWeb/L_CT/index/index.asp">朝敏菓菜</a> *@
                <a href="http://demo.jcin.com.tw/chaomin/OutWeb/L_CT/index/index.asp">朝敏菓菜</a>
                &copy; 2016 CHAOMIN
            </div>
        </div><!-- wrap -->
    </footer><!-- footer -->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/js/common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
